<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">業務報告</h2>
      <%= render partial: "form", locals: { visual: @visual} %>
    </div>
  </div>
</div>