<h1>スタッフ業務見える化</h1>
<% if user_signed_in? %>
<div class="greeting">
<%= link_to "業務開始",  visual_path(current_user), class:"post"%>
      
</div>     
<% end %>

<% @visuals.each do |visual| %>
  <div class="visual">
    <div class="visual-job">
      <%= visual.job_id %>
    </div>
   
    </div>
    <div class="visual-datetime">
      <%= visual.datetime %>
    </div>
  </div>
<% end %>

